@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    background-color: #0C1523;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

@font-face {
    font-family: 'Cyberway Riders';
    src: url('/fonts/CyberwayRiders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cyberpunk-heading {
    font-family: 'Cyberway Riders', sans-serif;
}

.strong-glow {
    filter: drop-shadow(0 0 40px rgba(0, 238, 255, 1));
}
.weak-glow {
    filter: drop-shadow(0 0 2px rgba(0, 238, 255, 0.8));
}

